.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 15px;
  }

  .media-body .article-title > h2, a{
  color: #444444;
  }

  .media-body .article-title > h2, a:hover {
  color: darkcyan !important;
  text-decoration: none;
  }

  .media-body .article-content {
  white-space: pre-line;
  }

  .media-body .article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
  }

  .media-body .article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
  }

  .media-body .article-metadata > a {
  color: darkcyan;
  text-decoration: none;
  }

  .article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  }

  .account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  }

  .account-heading {
  font-weight: bold;
  }

  .article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
  }

  .site-header .navbar .container> a:hover {
  color: white !important;
  text-decoration: none;
  }

  .site-header .navbar .container .navbar-nav> a:hover {
  color: white !important;
  text-decoration: none;
  }