{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <!-- registration for new user -->
        <form method="POST">
            
            {% csrf_token %}
            
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 d-flex justify-content-center">
                    Reset Password
                </legend>
                {{ form|crispy }}
                <h5>Points to be Noted:</h5>
                <ul>
                    <li>Use a <u><a href="https://accounts.google.com/servicelogin" target="_blank" rel="noopener noreferrer">Gmail</a></u> 
                        account for password reset.
                    </li>
                    <li>It is recommended that you use 2-factor authentication.
                        If you do, follow
                        <u><a href="https://support.google.com/accounts/answer/185833" target="_blank" rel="noopener noreferrer">this link</a></u>
                        to use app passwords to receive email from us.
                    </li>
                    <li>If you don't use 2-factor authentication, 
                        simply enable less secure app access from 
                        <u><a href="https://myaccount.google.com/lesssecureapps" target="_blank" rel="noopener noreferrer">this link</a></u> 
                        and disable it after you successfully reset your password.
                    </li>
                </ul>
            </fieldset>

            <div class="form-group">
                <button class="btn btn-success" type="submit">
                    Request Reset
                </button>
            </div>

        </form>

    </div>
{% endblock content %}
